[Unit]
Description=Local DNSMasq that will listen in lo interface
Requires=network.target
[Service]
Type=forking
User=root
ExecStartPre=/usr/sbin/dnsmasq --test --conf-file=/etc/local-dnsmasq.conf
ExecStart=/usr/sbin/dnsmasq --conf-file=/etc/local-dnsmasq.conf
ExecStartPost=/etc/init.d/dnsmasq systemd-start-resolvconf
ExecStop=/usr/bin/pkill -f 'dnsmasq --conf-file=/etc/local-dnsmasq.conf'
StandardOutput=syslog
StandardError=syslog
[Install]
WantedBy=multi-user.target
